.background    { background: rgb(0, 0, 0);
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.lava          { background: rgb(255,0,0); }
.wall          { background: white;   }
.velcro       { background: rgb(0, 100, 0); }
.reteleport { background: rgb(300,50,350); }

.actor  { position: absolute;  }
.coin   { background: rgb(241, 229, 89); }
.player { background: rgb(64, 64, 64); }
.boost { background: orange; }



.game {
  overflow: hidden;
  max-width: 800px;
  max-height: 520px;
  position: relative;
  top: 50%;
  left: 50%;
  margin-top: 0px;
  margin-left: -415px;
}


.lost .player {
  background: rgb(160, 64, 64);
}
.won .player {
  box-shadow: -4px -7px 8px white, 4px -7px 8px white;
}
